{% load i18n %}
{% load static %}
<script>

const app = Vue.createApp({
    delimiters: ['[[', ']]'],
    data: function(){
        return{
            showModal: false,
            client: {
                name: "Oscar"
            }
        };
    },
    props: [],
    template:
    `
    <v-new-client :client="client"/>
    
    <div class="container mx-auto">
    <table class="table-auto clients">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Appelido</th>
          <th>Celular</th>
          <th>Correo</th>
          <th>Estatus</th>
          <th>Ultima visita</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Oscar</td>
          <td>Torres</td>
          <td>3541201083</td>
          <td>oscartorres0396@gmail.com</td>
          <td>Activo</td>
          <td>15-Enero-2023</td>
        </tr>
      </tbody>
    </table>
    </div>
    `,
    methods: {},
    mounted: function () {},
    beforeUnmount() {},
    computed: {}
});

</script>

<!-- includes her, example -> include "login/vue_components/v-input-email.html" -->
{% include "clients/vue_components/vue-new-client-modal.html" %}